Pillow>=9.5.0
accelerate>=0.21.0
addict
aiohttp
albumentations
cmake
diffusers>=0.26.0
einops>=0.4.1
facenet-pytorch
fairscale>=0.4.4
filelock
ftfy
fvcore
git+https://github.com/WASasquatch/cstr
git+https://github.com/WASasquatch/ffmpy.git
git+https://github.com/WASasquatch/img2texture.git
gitpython
huggingface_hub
imageio>=2.33.0
imageio[ffmpeg]
importlib_metadata
insightface
joblib
kornia>=0.7.1
loguru
matplotlib
mediapipe
numba
numpy>=1.23.5,<1.25.0
omegaconf>=2.2.3
onnxruntime-gpu==1.17.0
opencv-python>=4.7.0.72
opencv-python-headless[ffmpeg]<=4.7.0.72
pilgram
prettytable
psutil
python-dateutil
pyyaml
rembg
safetensors>=0.4.2
scikit-image==0.20.0
scikit-learn
scipy
simpleeval
svglib
timm>=0.4.12
torch==2.2.2+cu121
torchaudio
torchsde
torchtext
torchvision==0.17.2+cu121
tqdm>=4.66.1
transformers>=4.30.2
trimesh[easy]
ultralytics
xformers==0.0.25.post1
yacs
yapf
